# Chave de API do Google Gemini (Requerido para a importação inteligente de romaneios, frotas e motoristas por PDF/TXT/XLS)
GEMINI_API_KEY=

# URL do projeto Supabase (ex: https://qybdhrbynmmjceeuqrns.supabase.co)
SUPABASE_URL=

# Chave de API do Supabase (Insira a sua chave service_role para desviar do bloqueio de RLS e gerenciar autenticações com segurança)
SUPABASE_ANON_KEY=
